body {
	font-family:Helvetica,Arial,sans-serif;
	font-size: 56px;
	color:white;
	background-color:black;
}

a {
	color:red;
}

/* When you first edit this file, you can delete everything below here. Remember you should use body to target all elements on the page first and then override them later  */

/* EXAMPLE CODE PLEASE REMOVE */

.title {
	font-family:futura-bold;
	font-size:100px;
	text-align:center;
}

.bio {
	font-family:Futura;
	font-size:30px;
	text-align:center;
	padding:20px;
	border:3px solid white;
	width:950px;
	background-color:red;
	color:white;
	margin: 40px auto;
}

.nav-item {
	width: 100%;
	padding: 20px;
	bottom:10px;
	left:80px;
}

.yasmeen1 {
	width:350px;
	border:4px solid black;
	margin:auto;
	margin-top:50px;

}

.yasmeen1 img {
	width:33%;
	position: absolute;
	left: 3%;	
}

.yasmeen2 img {
	width:350px;
	border:4px solid black;
	margin:auto;
	margin-top:-5px;
}

.yasmeen2 img{
	width:33%;
	position: absolute;
	left: 36%;
}

.yasmeen3 img{
	width:350px;
	border:4px solid black;
	margin:auto;
	margin-top:-5px;
}

.yasmeen3 img{
	width: 33%;
	position:absolute;
	left:66%;
}

.supun1 img{
	width:350px;
	border:4px solid black;
	margin:auto;
	margin-top:280px;
}

.supun1 img{
	width:33%;
	position:absolute;
	left: 3%;
}

.supun2 img{
	width:350px;
	border:4px solid black;
	margin:auto;
	margin-top:280px;
}

.supun2 img{
	width:33%;
	position:absolute;
	left: 35%;
}

.supun3 img{
	width:350px;
	border:4px solid black;
	margin:auto;
	margin-top:280px;
}

.supun3 img{
	width:33%;
	position:absolute;
	left: 66%;
}

