body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
}

a {
	color:red;
}

 /* IP */
 /*background-color:red;*/
 /*background-color:lime;*/
 /*background-color:blue;*/
 /*background-color:cyan;*/
 /*background-color:magenta;*/
 /*background-color:grey;*/


.ip {
	width:100vw;
	height:100vh;
	background-color:pink;
	display:flex;
	align-items:center;
	justify-content:center
	flex-wrap:flex;

}

.ip-text {
	font-size:12vw;
	color:white;
	font-family:courier new;


}

.checkers {
	width:100vw;
	height:100vh;
	display:flex;
	flex-wrap:wrap;

}

.checkers-black {
	flex: 0 0 50%;
	height:50vh;
	background-color:black;
	/*background-image:linear-gradient (lime, blue);*/
	

}

.checkers-white {
	flex: 0 0 50%;
	height:50vh;
	background-color:white;


}

/*Checkers Type*/

.checkers-type {
	width:100vw;
	height:100vh;
	display:flex;
	align-items:center;
	justify-content:center;
	position:fixed;
	top:0;
	left:0;

}

.checkers-text {
	font-size:20vw;
	color:lime;
	border:1.7vw solid lime;
	border-radius:1.9vw;
	padding:5vw;
	background-color:red;


}

/*User*/

.user {
	width:100vw;
	height:100vh;
	display:flex;
	align-items:center;
	justify-content: center;
	background-color:yellow;

}

.avatar {
	width:25vw;
	height:25vw;
	background-color:purple;
	display:flex;
	align-items:center;
	justify-content:center;
	border-radius:50%;

}

.letter {
	color:black;
	font-size:100px;

}

/*Image*/

.around-globe {
	background-color:cyan;
	height:100vh;

}

.around-globe img {
	width:100%;
	height:55vw;

}


.box-sw {
  height:100vh;
  width:100%; 
  background-color:green;
  display:flex;
  
  
}

.sand {
  flex:1 1;
  height:100vh;
  background-color: yellow;
  
}

.water {
  flex:0 0 25%;
  height:100vh;
  background-color:blue;
  animation-name:water;
  animation-duration:2s;
  animation-iteration-count: infinite;
  animation-timing-function:linear;
  animation-direction:alternate;
}

@keyframes water {
  0% {
    flex:0 0 10%;
  }
  
  100% {
    flex:0 0 50%;
  }
}



.cloud {
	background-color:white;
	animation-name:growUG;
  animation-duration:2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}



.notif2 {
	width: 60%;
	margin:1px auto;
	display:block;


}

.notif2-text {
	font-size:3vw;
	color:black;
	font-family:impact;
	text-align:center;

}


.netflix {
	width:100vw;
	height:100vh;
	background-color:black;
	display:flex;
	align-items:center;
	justify-content:center
	

}

.netflix-text {
	font-size:3vw;
	color:white;
	font-family:Arial;
	text-align:center;

}

.continue-text {
	font-size:2vw;
	color:white;
	font-family:Arial;
	text-align:center;
	padding:10px;
	border:3px lightgrey;
	width:350px;
	background-color:lightgrey;
	color:black;
	margin: 90px auto;
	margin-bottom:-90px;
	border-radius: 5px;
	justify-content:center
	width:33%;
	position: fixed;
	left: 36%;

	
}

.back-text {
	font-size:2vw;
	color:white;
	font-family:Arial;
	text-align:center;
	margin: 150px auto;
	margin-bottom:-90px;
	border-radius: 5px;
	justify-content:center
	width:33%;
	position: fixed;
	left: 48%;
}



.binary {
	width:100vw;
	height:100vh;
	background-color:black;
	display:flex;
	align-items:center;
	justify-content:center
	

}

.binary-text {
	font-size:3vw;
	color:green;
	font-family:courier new;
	text-align:center;
}

.memory {
	width:100vw;
	height:100vh;
	background-color:blue;
	display:flex;
	align-items:center;
	justify-content:center

}

.memory-text {
	font-size:4vw;
	color:ghostwhite;
	font-family:courier;
	text-align:center;
	
}

#rectangle{
    width:400px;
    height:50px;
    background:ghostwhite;
	justify-content:center
	width:33%;
	position: fixed;
	left: 26%;
	padding:10px;
	margin: 90px auto;
	margin-bottom:-90px;
	
}

.computermemory img{
	width:33%;
	position: absolute;
	left: 36%;
}

.compmem-text {
	font-size:15vw;
	color:red;
	font-family:helvetica;
	text-align:center;
	position:absolute;

}

.sorry-text {
	font-size:4vw;
	color:deepskyblue;
	font-family:helvetica;
}

.message-text {
	font-size:1vw;
	color:black;
	font-family:helvetica;
	text-align:center;
}

.uploadcloud img{
	margin:90px auto;
	display:block;
}

.uploadcloud-text {
	font-size:3vw;
	color:green;
	font-family:futura;
	text-align:center;
	

}

.qrcode img{
	width:300px;
	height:auto;
	margin:90px auto;
	display:block;
}

.qrcode-text {
	font-size: 30px;
	color:black;
	font-family:courier;
	text-align:center;
}

.blueelectric img{
	width:100%;
	height:auto;
	position:relative;
	top:0;
	left: 0;

}

.facebooklogo img{
	width:30%;
	height:auto;
	position:absolute;
	top:50px;
	left: 40px;

}

.facialrecognition img{
	width:100%;
	height:auto;
	top:20px;
	left:40px;

}

.facialrecognition-text {
	width:100%;
	height:auto;
	position:absolute;
	top:380px;
	left: 50px;
	font-family:courier;
	font-size:80px;
	color:red;
	background-color:black;
	justify-content:center
	
}

.batteryfull {
	background-color:black;
	width:100%;
	height:auto;
}

.batteryfull img {
	width:50%;
	height:auto;
	top:3px;
	left:300px;
	position:relative;
}

.batteryfull-text {
	width:100%;
	height:auto;
	position:absolute;
	top:100px;
	left: 360px;
	font-family:arial;
	font-size:80px;
	color:white;
	
}

.gridbackground img{
	width:100%;
	height:auto;
	position:relative;
	top:0;
	left:0;
}

.sega img{
	width:50%;
	height:auto;
	position:absolute;
	top:180px;
	left:300px;
}

.dvd {
	width:100vw;
	height:100vh;
	background-color:black;
	position:relative;
	top:0px;
	left:0px;
}

.dvd img{
	width:20%;
	height:auto;
	top:180px;
	left:300px;
	
}

.ctrlc img {
	width:50%;
	top:400px;
	left:300px;
	position:absolute;
}

.powerbutton img{
	top:2px;
	left:130px;
	position:absolute;
	filter:drop-shadow(0 0 5px grey);
}

.loading img{
	top:200px;
	left:500px;
	position:absolute;
}

.fingerprint img{
	position:absolute;
}


#scanner{
    width:1000px;
    height:1px;
    background:lime;
	justify-content:center
	width:100%;
	position: fixed;
	left: 26%;
	padding:1px;
	margin: 90px auto;
	margin-bottom:-90px;
	filter:drop-shadow(0 0 5px lime);
}

.sonar img{
	width:100%;
	height:auto;
	position:relative;
	top:0;
	left:0;
}

.sonar-text {
	color:red;
	font-family:changeling neo;
	position:absolute;
	font-size:60px;
	top:310px;
	left:55px;
	background:black;
}

.like img{
	width:30%;
	height:auto;
	top:100px;
	left:80px;
	position:relative;


}

.like-text{
	color:steelblue;
	font-family:arial;
	font-size:45px;
	left:500px;
	top:-70px;
	position:relative;
	
}